*{
  margin: 0;
  padding: 0;
}
#image{
  display: flex;
}
h3 a{
  flex: 1;
  text-decoration: none;
  color: brown;
  margin: 10px 30px;
  font-size: 40px;
}
.social{
  flex: 5;
  margin-left: 100px;
  margin-top: 10px;
}
.social img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;
  border: 3px solid brown;
  padding: 30px;
  background: linear-gradient(to left,orange,rgb(77, 52, 5));
}
.column{
 flex: 1; 
 align-self: center;
}
img{
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
@media (max-width:1024px){
  img{
    height: 150px;
  }
}
@media (max-width:768px){
  .column img{
    width: 270px;
    height: 150px;
  }
  .row{
    padding: 10px;
  }
  .column{
    margin: 10px 40px;
  }
}
@media (max-width:425px){
  .column img{
    height: 250px;
    min-width: 350px;
  }
  #image{
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .social{
    margin-left: 15px;
    display: flex;
  }
  .social a img{
    margin-left: 10px;
  }
}
@media (max-width:375px){
  .column img{
    height: 200px;
    min-width: 300px;
  }
}
@media (max-width:320px){
  .column img{
    height: 180px;
    min-width: 250px;
  }
}

