*{
  margin: 0;
  padding: 0;
}
#image{
  display: flex;
}
h3 a{
  flex: 1;
  text-decoration: none;
  color: brown;
  margin: 10px 30px;
  font-size: 40px;
}
.social{
  flex: 5;
  margin-left: 100px;
}
.social a i{
  padding-right: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;
  border: 3px solid brown;
  padding: 30px;
  background: linear-gradient(orange,rgb(77, 52, 5));
}
.column{
 flex: 1; 
 align-self: center;
}
img{
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
@media (max-width:1024px){
  img{
    height: 150px;
  }
}
@media (max-width:768px){
  img{
    height: 120px;
  }
}
@media (max-width:425px){
  img{
    height: 250px;
    min-width: 300px;
  }
  #image{
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .social{
    margin-left: 42px;
  }
}
@media (max-width:320px){
  img{
    height: 200px;
    min-width: 250px;
  }
}

